body {
    font-family: "IBM Plex Mono", serif;
    background-color: black;
}

.main {
    position: absolute;

    color: white;

    left: 30%;
    width: 40%;

    height: calc(100% - 30px);
    top: 30px;
}

.enter > input {
    max-width: 400px;

    background-color: rgba(0, 0, 0, 0);

    border:  none;

    color: white;
    font-family: "IBM Plex Mono", serif !important;

    display: inline;
    outline: none !important;

    caret-color: transparent;

    font-size: 97.6%;
}

.curs {
    position: relative;

    display: inline-block;
    width: 10px;
    height: 3px;
    background-color: white;

    margin-left: 0px;
    margin-bottom: -2px;

    animation: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes blink {
    from {
        background-color: black;
    }

    50% {
        background-color: white;
    }

    to {
        background-color: black;
    }
}

.hide-txt {
    opacity: 0;
}
