body {
    text-align: center;
    font-family: "Inter", sans-serif;
}

.input-text {
    padding: 6px 7px;
    font-size: 15px;
    border-radius: 3px;
    border: 1px solid gray;
}
  
.copy-text {
    padding: 4.5px 10px;
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    color: black;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid gray;
}

